.Layout_index{

  .left_menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #183555;
  }
  .right_menu{
    margin-left: 200px;
    transition: all .3s;
    &.isHidemenu{
      margin-left: 64px;
    }
  }
}
//content.vue
.right_cont{
  >.header{
    background: #1574C2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 50px 0 20px;
  .iconfont {
    font-size: 24px;
  }
  .header-right{
    display: flex;
    .user{
      margin-left: 20px;
      display: flex;
      align-items: center;
      i{
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
}
  
}